html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 1800px;
    margin: 0 auto;
    font-family: 'Yeseva One';
}

li,
a {
    list-style: none;
    text-decoration: none;
}

header {
    background: url(../img/Bg1.jpg) no-repeat center top;
    width: 1800px;
    height: 750px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.menu {
    display: flex;
    justify-content: space-between;
}

.menu nav {
    display: flex;
    margin-right: 110px;
    padding-top: 20px;
}

.menuFirst {
    display: inline-flex;
    font-size: 20px;
}

.menuFirst li {
    color: #fff;
    margin: 0 0 0 45px;
}

.menuFirst li a:hover {
    color: #033603;
}

.menuFirst li a {
    color: #fff;
}

.menuSecond {
    display: inline-flex;
    padding: 0 0 0 20px;
}

.menuSecond li a {
    color: #dab33e;
    font-size: 21px;

}

header h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    color: #fff;
    width: 1000px;
    font-size: 90px;
    font-weight: 400;
}

.divider {
    margin-top: 50px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 35px 0 141px;
}

.btn button {
    width: 230px;
    height: 55px;
    color: #fff;
    background-color: rgba(0 0 0 / 0.5);
    border: none;
    margin-right: 25px;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.btn button:first-child {
    margin-left: 25px;
}

.btn button:hover {
    background-color: rgba(256 256 256 / 0.5);
}

/* ------------------------------------------------------ 

                        2 section


-------------------------------------------------------*/

.plateMeet,
.rightFood {
    background: url(../img/pattern.jpg) center no-repeat;
    height: 710px;

}

.plateMeet .container {
    display: flex;
    justify-content: center;

}

.leftCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 415px;
    margin-left: 100px;
    text-align: center;
}

.leftCol h2 {
    color: #c9a131;
    font-size: 35px;
    margin: 0 0 20px;
}

.leftCol p:nth-child(3) {
    margin: 0;
    color: #606060;
    line-height: 24px;
    font-family: "Lato", serif;
}

.rightCol {
    margin-top: 80px;
}

/* -------------------------------------------------------

                           3 section


---------------------------------------------------------*/

.ingredients {
    background: url(../img/bg2.jpg) center no-repeat;
    height: 760px;

}

.ingredients .container {
    display: flex;
    justify-content: flex-end;
}

.ingredientsFine {
    width: 570px;
    height: 557px;
    background-color: rgba(0 0 0 / 0.5);
    margin: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.ingredientsFine h2 {
    font-size: 35px;
    margin: 0;
    font-weight: 400;
}

.ingredientsFine p:nth-child(3) {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    width: 410px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Lato", serif;
}

.ingredientsFine p:nth-child(4) {
    display: flex;
    justify-content: space-around;
    margin: 75px auto 0;
    width: 410px;
}

/* -------------------------------------------------------

                           4 section


---------------------------------------------------------*/
.dishesMenu {
    background: url(../img/pattern2.jpg) center no-repeat;
}

.dishes {
    display: flex;
    justify-content: space-around;
}

.dishes-1,
.dishes-2 {
    height: 850px;
    color: #cc9900;
    font-family: "Yeseva One";
    margin-top: 115px;
    margin-bottom: 100px;
}

.dishes h2 {
    font-size: 36px;
    text-align: center;
    margin: 0 0 25px;
}

.dividerGold {
    text-align: center;
}

.dishes h3 {
    margin: 0;
}

.dishes p {
    color: #000;
    font-family: "Lato", "serif";
    font-weight: normal;
    margin-top: 10px;
    width: 420px;
}

.food {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0;
}

hr {
    border: 0.5px solid #cc9900;
}

.mainDishes,
.salads {
    margin-top: 70px;
}

/* -------------------------------------------------------

                           5 section guest reviews


---------------------------------------------------------*/

.guest {
    background: url(../img/bg3.jpg) center no-repeat;
    height: 760px;

}

.guest .container {
    display: flex;
    justify-content: center;
}

.guestReviews {
    width: 770px;
    height: 557px;
    background-color: rgba(0 0 0 / 0.5);
    margin: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.guestReviews h2 {
    font-size: 35px;
    margin: 0;
    font-weight: 400;
    margin-top: 0;

}

.guestReviews p {
    color: #dde0df;
    font-family: "Gentium Book Basic";
    line-height: 45px;
    font-weight: 300;
    font-size: 24px;
    font-weight: 400;
    margin: 0 75px;
}

.guestReviews p:nth-child(4) {
    font-family: "Lato";
    font-size: 16px;
    margin-top: 45px;
}

/* -------------------------------------------------------

                           6 section guest reviews


---------------------------------------------------------*/

.rightFood .container {
    display: flex;
    justify-content: space-around;
}

.imgs {
    display: flex;
    margin: 100px 0;
}

.img1 {
    margin-right: 35px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 415px;
    text-align: center;
}

.form h2 {
    color: #c9a131;
    font-size: 35px;
    margin: 0 0 20px;
}

.form p:nth-child(3),
.form p:nth-child(4) {
    margin: 0;
    color: #606060;
    line-height: 24px;
    font-family: "Lato", serif;

    font-weight: 400;
}

.form p:nth-child(4) {
    padding-bottom: 45px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 430px;
}

input,
form button {
    width: 200px;
    height: 35px;
    box-sizing: border-box;
}

.formBlock1 {
    display: inline-block;

}

input,
label {
    display: block;
    text-align: left;
}

label {
    color: #c9a131;
}

input {
    font-style: italic;
    font-weight: 300;
    padding-left: 15px;
    margin-bottom: 30px;
}

input:hover {
    border: 2px solid #c9a131;
}

form button {
    background-color: #c9a131;
    color: #fff;
    margin-left: calc(50% - 100px);
}

/*------------------------------------------ 

                        footer

*/
-------------------------------------------